nav{
    display:flex;
    gap:1rem;
    padding: 1rem;
    background-color:teal;
    a{
        text-decoration:none;
        font-size:1.3rem;
        color:white;
        &.active{
            font-weight:bold;
            border-bottom: 2px solid white;
        }
        &:hover{
            color:#c7e0e0;
        }
    }
}