/* You can add global styles to this file, and also import other style files */
*{
    box-sizing:border-box;
}
html{
    font-size:16px;
}
body{
    box-sizing:border-box;
}
html, body{
    margin:0;
    padding:0;
    height:100%;
}
h1{
    text-align:center;
    font-size:3rem;
}

.table{
    border-collapse: collapse;
    width:100%;
    max-width:100%;
    font-size:1.2rem;
}

.table th, .table td{
    height:auto;
    border: 1px solid black;
    padding:1rem;
    white-space: nowrap;
}
.table th{
    font-size:1.4rem;
    background:rgb(156,209,209);
}

//div runt båda tabeller. Satt globalt pga att det är exakt samma styling
.tableWrap{
    width:100%;
    position:relative;
    overflow-x: auto;

    //detta ska ge mer mjuk scroll på mobil
    -webkit-overflow-scrollning: touch;
}

app-root{
    display:block;
    height:100vh;
    box-sizing:border-box;
    border:10px solid teal;
    overflow:auto;
}

@media (max-width: 899px){
    html{
        font-size:14px;
    }
    .table th, .table td{
        padding:0.6rem;
    }
}
@media (max-width: 599px){
    html{
        font-size:12px;
    }
    .table th, .table td{
        padding:0.4rem;
    }
}